/* Sheet Header */
.single-sheet-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.single-sheet-header h2 {
    margin: 0;
}

/* Back Button */
.back-btn {
    cursor: pointer;
    font-size: 20px;
}

/* Table Styling */
.sheets-table-single-sheet {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.sheets-table-single-sheet th, 
.sheets-table-single-sheet td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.sheets-table-single-sheet th {
    background-color: #34495e;
    color: white;
}

.sheets-table-single-sheet tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Sheet Process Header */
.sheet-process-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom:10px;
}

/* + Add Sheet Process Button Alignment */
.right-btn {
    margin-left: auto;
}

/* Process Header */
.process-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
}

.process-header:hover {
    background-color: #ddd;
}

/* Unicode Expand/Collapse */
.toggle-icon {
    margin-right: 10px;
    font-size: 16px;
}

/* Steps Table */
.steps-table {
    width: 100%;
    border-collapse: collapse;
    display: none;
}

.steps-table th, .steps-table td {
    padding: 8px;
    border: 1px solid #ddd;
}

/* Shrink Action Column */
.shrink {
    width: 150px;
    text-align: center;
}

.add-btn{
	 background-color: #3498db;
    color: white;
    padding: 8px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #2980b9;
}